$sample-background:grey;
$placeholder:black;
.container {
  display: flex;
  justify-content: space-between;
  .layout {
    display: flex;
    width: 60vw;
    min-height: 50vh;
    order: 3;
    &>div {
      width: 550px;
      background-color: $sample-background;
      box-sizing: border-box;
      margin: 30px;
      display: flex;
    }
    .default {
      background-color: white;
    }
    .three-boxes {
      flex-direction: column;
      align-items: center;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        .logo {
          font-size: 5px;
          span {
            background-color: black;
            height: 25px;
            padding: 10px 30px;
            width: 20px;
          }
        }
        .menu {
          font-size: 5px;
          span {
            padding: 5px 20px;
            margin: 0 5px;
            background-color: $placeholder;
          }
        }
      }
      .main {
        background-color: $placeholder;
        height: 300px;
        width: 80%;
      }
      .sub-columns {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        flex-wrap: wrap;
        width: 80%;
        .column {
          height: 150px;
          color: white;
          width: 45%;
          box-sizing: border-box;
          background-color: $placeholder;
        }
        &::last-child {
          margin-right: 0;
        }
      }
    }
    .screenshots {
      flex-direction: column;
      align-items: center;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        width: 100%;
        padding: 20px;
        .logo {
          font-size: 5px;
          span {
            background-color: white;
            height: 25px;
            padding: 10px 30px;
            width: 20px;
          }
        }
        .menu {
          span {
            background-color: white;
            height: 25px;
            margin-right: 5px;
            padding: 5px 20px;
            width: 20px;
          }
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        .title {
          background-color: black;
          height: 50px;
          width: 60%;
        }
        .ptag {
          background-color: black;
          height: 10px;
          width: 70%;
          margin-top: 15px;
        }
      }
      .feature {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
        .div1 {
          height: 100px;
          background-color: peachpuff;
          width: 30%; //insert transformation
        }
        .div2 {
          height: 100px;
          background-color: orangered;
          width: 30%;
        }
        .div3 {
          height: 100px;
          background-color: aqua;
          width: 30%;
        }
      }
    }
    .f-graphic {
      .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        margin-left: 20px;
        .header {
          background-color: black;
          height: 20px;
          width: 25%;
          margin: 30px 0;
        }
        .menu {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 20px;
          span {
            padding: 5px 15px;
            background-color: black;
          }
        }
        .text {
          width: 60%;
          height: 50%;
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;
          margin-top: 30px;
          .title {
            height: 80px;
            width: 80%;
            background-color: black;
            margin: 30px 0;
          }
          span {
            height: 20px;
            width: 100%;
            margin: 10px 0 10px 0;
            background-color: black;
          }
        }
      }
      .circle {
        background-color: black;
        border: solid;
        border-radius: 100%;
        height: 150px;
        width: 150px;
        margin: 35% 0px 0 40px;
      }
    }
    .f-sidebar {
      .exsidebar {
        background-color: black;
        width: 20%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          background-color: white;
          height: 50px;
          width: 60%;
          margin-bottom: 15px;
        }
        .links {
          width: 70%;
          height: 150px;
          display: flex;
          flex-direction: column;
          span {
            height: 5px;
            width: 100%;
            background-color: white;
            margin: 15px 0 0 0;
          }
        }
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 70px 30px 30px 30px;
        .title {
          background-color: black;
          height: 30px;
          width: 60%;
          margin-bottom: 20px;
        }
        .main {
          height: 70%;
          width: 80%
        }
        .sub-columns {
          display: flex;
          .column {
            height: 50px;
            width: 80px;
          }
        }
      }
    }
    .h-gallery {
      flex-direction: column;
      align-items: center;
      .nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        height: 70px;
        box-sizing: border-box;
        .logo {
          background-color: black;
          height: 20px;
          width: 80px;
        }
        .menu {
          display: flex;
          justify-content: space-around;
          width: 200px;
          span {
            margin-right: 10px;
            height: 20px;
            width: 40px;
            background-color: black;
          }
        }
      }
      .header {
        height: 30px;
        width: 400px;
        background-color: black;
        margin: 30px 0;
      }
      .text {
        height: 10px;
        width: 400px;
        background-color: black;
        margin-bottom: 30px;
      }
      .gallery {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 30px;
        .pic {
          box-sizing: border-box;
          height: 50px;
          width: 100px;
          margin: 10px;
          background-color: black;
        }
      }
    }
    .f-photo {
      align-items: center;
      justify-content: space-between;
      .exsidebar {
        width: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .logo {
          width: 80%;
          height: 80px;
          margin-top: 50px;
          background-color: black;
        }
        .text{
          height:200px;
          width:80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          span{
            background-color:black;
            height: 10px;
            width: 80px;
            margin-top:10px;
          }
        }
        .footer{
          height:20px;
          width:60%;
          background-color: black;
          margin:0 20px 50px 0;
        }
      }
      .pic{
        width:70%;
        background-color: black;
        height:80%;
        margin-right:20px;
        
      }
    }
    .fs-photo {
      .wrapper{
        margin: 40% 20px 0 20px;
        height: 150px;
        display: flex;
        justify-content: space-around;
        width:100%;
        .section1{
          width:25%;
          background-color: black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .title{
            margin-top: 20px;
                background-color: white;
                height: 25px;
                width: 70%;
              }
            .text{
              margin-top: 20px;
              width: 70%;
              height: 100px;
              display: flex;
              flex-direction: column;
              align-items: center;
              span{
                background-color: white;
                height: 5px;
                width: 60px;
                margin-top:10px;
              }
            }
          
        }
        .section2{
            width:45%;
            background-color: black;
            display: flex;
            justify-content: space-around;
            .column{
              .title{
                background-color: white;
                margin-top: 20px;
                height: 25px;
                width: 90%;
              }
            .text{
              margin-top: 20px;
              width: 70%;
              height: 100px;
              display: flex;
              flex-direction: column;
              align-items: center;
              span{
                background-color: white;
                height: 5px;
                width: 60px;
                margin-top:10px;
              }
            }
            }
            .pic{
              margin-top: 20px;
              background-color:white;
              width:30%;
              height: 100px;
            }
        }
        .section3{
          width:25%;
          background-color: black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .pic{
            background-color:white;
              width:40%;
              height: 50px;
              border: solid;
              border-radius: 100%;
          }
          .logo{
            background-color:white;
            height: 10px;
            width:70px;
          }
        }
      }
    }
    .p-grid {
      flex-direction: column;
      align-items: center;
      width:100%;
      .row1{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        .wrapper{
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          width: 50%;
          .logo{
            background-color: black;
            height:30px;
            width:120px;
          }
          .headline{
            background-color: black;
            height:20px;
            width:100px;
          }
        }
        .searchbar{
          background-color: black;
          height:20px;
          width:120px;
        }
      }
      .nav{
        background-color: black;
        width:100%;


      }
      .row2{
        display: flex;
        width:100%;
        height:200px;
        padding:20px;
        justify-content: space-around;
        .column{
        background-color: black;
          height:200px;
          width:300px;
          
        }

      }
      .big-wrapper{
        background-color: black;
        display: flex;
        justify-content: space-between;
        height: 500px;
        width:100%;
        margin-top: 40px;
      .wrapper{
        display:flex;
        flex-direction: column;
        width:70%;
        align-items: center;
        .gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
          .pic{
            background-color: white;
            height: 100px;
            width:100px;
            margin:20px 0;
          }
        }
        .duo{
          display: flex;
          justify-content: space-around;
          .feature{
            display: flex;
            flex-direction: column;
            .title{
              background-color: white;
              height: 20px;
            width:200px;
            margin:0 10px 10px 10px;;
            }
            .pic{
              background-color: white;
              height: 150px;
            width:220px;
            margin:0 10px;
            }
          }
        }
      }
      .exsidebar{
        background-color: white;
        height: 100%;
            width:100px;
            margin-right:20px;
      }
    }
    }
  }
  .sidebar {
    order: 1;
    display: flex;
    width:30vw;
    .links {
      background-color: black;
      color: white;
      width: 200px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .placeholder {
      width: 250px;
      order: 2;
      box-sizing: border-box;
      .description {
        width: 100%;
        padding: 25px;
        background-color: lightblue;
      }
    }
  }
}
@media(max-width:600px){

  .placeholder{
    display: none;
  }

}