.box{
    background-color:lightblue;
    height:100px;
    width:100px;
    animation-name: boxHeight;
    animation-duration: 5s;
    animation-delay: 0ms;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;

}
.boxStretch{
    background-color:pink;
    height:100px;
    width:100px;
    animation-name: boxWidth;
    animation-duration: 5s;
    animation-delay: 0ms;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;

}
.container{
    display: flex;
}

@keyframes boxHeight{

    0%{
            height:100px;
    }

    100%{
        height:600px;
    }


}
@keyframes boxWidth{

    0%{
            width:100px;
    }

    100%{
        width:600px;
    }


}