<div class="container">
  <div id="button-container">
<div class="button-list">
    <h2 class="title"> Random Effects</h2>
    <button id="animate">Pulsing</button>

    <button id="gradient">gradient</button>

    <button id="ghost">ghost</button>
</div>
<div class="button-list">
<h2 class="title"> Box-shadow</h2>


<button id="shadow-one">shadow-one</button>
<button id="shadow-two">shadow-two</button>
<button id="shadow-three">shadow-three</button>
<button id="shadow-four">shadow-four</button>
</div>

</div>
<div class="sidebar">

</div>
</div>